@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/base';

.bg{
    width:100%;
    height:100vh;
    background-image:linear-gradient(cadetblue,pink);
    background-size: cover;

    .container{
        .row{
            .col-lg-4.col-sm-12{
                width: 100;
                height:500px;
                background-image: url(/assets/images/bg1.jpg);
                background-size: cover;
               
                   .form{
                    margin-top: 10px;
                    label{
                        margin-left: 50px;
                        margin-right: 50px;
                        color:black;
                        font-weight: bold;

                    }
                    margin-left: 100px;
                    margin-right: 100px;
                    .form-control{
                        width:200px;
                        height: 28px;
                        background-color:lightblue;
                    
                }
                   }

                   button{
                    margin-left: 60px;
                    margin-right: 60px;
                    margin-top: 10px;
                    width:70px;

                   }
            }
        }
    }

}