<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="form">
                    <form [formGroup]="loginForm" >
                        <div class="inputs" formControlName="username" name="username">
                            <label for="">Username  </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="inputs">
                            <label for="">Password </label>
                            <input type="text" class="form-control" formControlName="password" name="password">
                        </div>
                        <button class="btn btn-primary">Log In</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4"></div>
    
        </div>
    </div>
</div>